/*[data-md-color-scheme="slate"] {
    --md-hue: 210; /* [0, 360] */
}*/

/* [data-md-color-scheme="default"] {
    --md-primary-bg-color:        #EE0F0F;    
} */

/*:root {
    --md-default-bg-color:               hsla(0, 0%, 95%, 1);
    --md-default-bg-color--light:        hsla(0, 0%, 95%, 0.7);    
}*/

md-footer__inner { display: none }